.scp-login {
    display: flex;
    height: 100vh;

    &__bg {

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__wel-bg {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
    }

    &__cnt-wrap {
        width: 70%;
        height: 100vh;
        margin: 0 auto;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50%;
    }

    &__back-btn {
        color: var(--clr-red);
        display: flex;
        justify-content: right;
        padding: 50px 0 40px 0;

        a {
            img {
                margin-right: 5px;
            }
        }

        &--hide {
            visibility: hidden;

        }
    }

    .scp-wel-title {
        text-align: center;
        font-size: 24px;
        padding-bottom: 30px;
    }
}

/* / Media queries / */

@include tablet {
    .scp-login {
        flex-direction: column;

        &__back-btn {
            padding: 20px 0px 20px 0px;
        }

        &__wel-bg {
            height: auto;
            background-position: top;
        }

        &__cnt-wrap {
            height: auto;
            margin-bottom: 30px;
        }
    }
}

@include tablet-pro {
    .scp-login {
        flex-direction: column;

        .col-lg-6 {
            width: 100%;
        }

        &__wel-bg {
            height: auto;
            background-position: top;
        }

        &__cnt-wrap {
            height: auto;
            margin-bottom: 40px;
        }

    }
}

@include mobile {
    .scp-login {

        flex-direction: column;

        &__wel-bg {
            height: auto;
            background-position: top;
        }

        &__cnt-wrap {
            width: 90%;
            height: auto;
            margin-bottom: 30px;
        }

        &__back-btn {
            padding: 20px 0px;
        }

        .login-btns-container {
            padding: 30px 20px;
            margin: 20px;
        }

        .login-btns-container__login-btn-top,
        .login-btns-container__login-btn-bottom {
            width: 100%;
        }

        .scp-submitform input {
            width: 100%;
        }
    }
}