.scp-submitform {
    width: fit-content;
    padding: 40px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    >p:first-child {
        margin-bottom: 15px;
    }

    input {
        width: 250px;
    }

    &__inner {
        display: flex;
        gap: 20px;

        a {
            padding: 8px 10px;
        }
    }
}