.payable-wrapper {
    // max-width: 1000px;
    // margin: 10px auto;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px 35px;

    &__top {
        padding: 16px 80px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #DCDCDC;

        h1 {
            font-size: 20px;
            font-weight: 600;
            color: var(--clr-text);
        }

        h3 {
            color: var(--clr-orange);
            font-weight: 700;
            font-size: 20px;
            text-align: right;
        }
    }

    &__middle {
        padding: 16px 80px;
        border-bottom: 1px solid #DCDCDC;

        h1 {
            font-size: 20px;
            font-weight: 600;
            color: var(--clr-text);
        }

        &__content {
            margin-top: 10px;

            &__ticket {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;

                &__item {
                    font-size: 15px;
                    width: 150px;
                }

                &__price {
                    color: var(--clr-orange);
                    font-weight: bold;
                }
            }
        }
    }

    &__bottom {
        padding: 16px 80px;
        border-bottom: 1px solid #DCDCDC;

        &__content {
            display: flex;
            align-items: center;
            gap: 5px;
            margin-bottom: 10px;

            img {
                width: 15px;
            }

            p {
                font-size: 15px;
            }
        }

        &__input {
            width: 250px;
        }
    }

    &__button-group {
        display: flex;
        justify-content: space-between;

        a {
            width: 150px;
        }
    }
}

@include tablet {}

@include tablet-pro {}

@include mobile {
    .payable-wrapper {
        padding: 15px 18px;

        &__top {
            padding: 16px;
        }

        &__middle {
            padding: 16px;
        }

        &__bottom {
            padding: 16px;
        }

        &__button-group {
            a {
                width: 135px;
            }
        }

    }

}

@include mobile-tablet {}