.sd-checkbox {

  /* Hide the default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background: var(--clr-white);
    border-radius: 5px;
    // box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.30), 0px 1px 1px rgba(0,5);
  }

  .material-checkbox {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    color: var(--clr-text);
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
  }

  .material-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  .checkmark {
    position: relative;
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 8px;
    border: 1px solid var(--clr-orange);
    border-radius: 4px;
    transition: all 0.3s;
  }

  .material-checkbox input[type="checkbox"]:checked~.checkmark {
    background-color: var(--clr-orange);
    border-color: var(--clr-orange);
  }

  .material-checkbox input[type="checkbox"]:checked~.checkmark:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 6px;
    width: 5px;
    height: 11px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  //   .material-checkbox input[type="checkbox"]:focus ~ .checkmark {
  //     box-shadow: 0 0 0 2px #dfec5065;
  //   }

  //   .material-checkbox:hover input[type="checkbox"] ~ .checkmark {
  //     border-color: #C3CF34;
  //   }

  .material-checkbox input[type="checkbox"]:disabled~.checkmark {
    opacity: 0.5;
    cursor: not-allowed;
  }

  //   .material-checkbox input[type="checkbox"]:disabled ~ .checkmark:hover {
  //     border-color: #4d4d4d;
  //   }

}