.scp-heading {

    h1 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    h2 {
        color: var(--clr-orange);
        font-size: 18px;
        font-family: "Open Sans", sans-serif;
    }
}