.sd-input {
    margin-bottom: 16px;
    label {
        color: var(--clr-text);
        font-size: 14px;
        padding-bottom: 4px;
    }
    input {
        width: 100%;
        background-color: var(--clr-greylite);
        border: 1px solid var(--clr-text);
        padding: 10px 14px;
        font-size: 13px;
    }
    span {
        font-size: 12px;
        color: var(--clr-red);
        font-weight: 500;
    }
    &.orange {
        input {
            border: 1px solid var(--clr-orange);
        }
    }
    &.orange-border {
        input {
            border: 1px dashed var(--clr-orange);
        }
    }
}