.sd-radio {  
  font-family: "Open Sans", sans-serif;
      .radio-button {
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
      }
      
      .radio-button input[type="radio"] {
        display: none;
      }
      
      .radio-checkmark {
        display: inline-block;
        position: relative;
        width: 20px;
        height: 20px;
        margin-right: 8px;
        border: 1px solid var(--clr-orange);
        border-radius: 50%;
      }
      
      .radio-checkmark:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: 10px;
        height: 11px;
        border-radius: 50%;
        background-color: var(--clr-orange);
        transition: all 0.2s ease-in-out;
      }
      
      .radio-button input[type="radio"]:checked ~ .radio-checkmark:before {
        transform: translate(-50%, -50%) scale(1);
      }
      
      .radio-label {
        font-size: 13px;
        font-weight: 400;
        color: var(--clr-text);
      }
      
}