.sd-title {
    color: var(--clr-black);
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 32px;
    span {
        color: var(--clr-orange);
    }
}

// orange title
.sd-orngtitle {
    color: var(--clr-orange);
    font-size: 16px;
    line-height: 23px;
    font-weight: 700;
}

// sub-title
.sd-subtitle {
    color: var(--clr-text);
    font-size: 22px;
    line-height: 33px;
    font-weight: 600;
}